<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="shortcut icon" href="../public/png/fast.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/responsive.css" />
    <title>Restaurant App</title>
  </head>

  <body>
    <!-- Header -->
    <header class="header">
      <div class="navbar-header">
        <a href="#" class="pull-left">
          <img src="../public/png/fast.png" alt="" id="logo-img" />
        </a>
        <div class="navbar-brand">
          <a href="#" id="nav-bar-a">
            <h1>Chef~Gaustau</h1>
            <p>
              <span> Food is ready for you at your service! </span>
            </p>
          </a>
        </div>
        <span id="list-down"><a href="">More</a></span>
      </div>
      <div class="collapsable-nav">
        <ul id="nav-list">
          <li id="current">
            <a href="#">Kitchen</a>
          </li>
          <li>
            Visit
            <div class="dropdown-content">
              <a href="index.html">Home</a>
              <a href="menu_list.html">See Menu</a>
              <a href="order.html"> Orders</a>
              <a href="history.html">See History </a>
            </div>
          </li>
          <li>
            <a href="aboutUs.html">About</a>
          </li>

          <a href="tel:420-324-5008" id="phone">
            <span>420-324-5008</span>
          </a>
          <li id="profile">
            <h1>A</h1>
            <div
              class="dropdown-content"
              style="width:90%; font-size: 16px; right: 10%;"
            >
              <a href="profile.html" style="margin: 0px;padding:0px;"> Profile</a>
              <a href="">help</a>
              <a href="auth/login.html">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </header>
    <!-- /..header ending -->

    <!-- BODY -->
    <div id="con-kitchen">
      <div class="k-welcome">
        <p><img src="../public/png/st.png" width="200" height="140">
          <strong>ChefGaustaux's</strong><br /> Cuisine</p>
      </div>
       <div class="row">
          <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At officiis enim quae blanditiis, sed tempore aliquid mollitia autem repellat amet qui, veniam velit? Voluptates, labore esse? Porro harum maiores officia.
          </p>
      </div>
    </div>

    <footer>
      <div class="followus">
       <span> Follow Us On :</span>
        <a href="" title="WhatSapp">
          <img src="../public/png/whats.png" alt="" />
        </a>
        <a href="" title="lin">
          <img src="../public/png/in.png" alt="" />
        </a>
        <a href="" title="instagram">
          <img src="../public/png/ins.png" alt="" />
        </a>
        <a href="" title="twitter">
          <img src="../public/png/twit.png" alt="" />
        </a>
        <a href="" title="youtube">
          <img src="../public/png/utube.png" alt="" />
        </a>
      </div>
      <div class="row">
        <div class="list1">
          <span>Address: </span><br /><br />
          Buea ~ Molyko Road <br /><small>Last Vegas Street 3011</small>
          <p>
            * Delivery area within 2-5 miles, with minimum order of $15 plus $5
            charge for all deliveries.
          </p>
          <span>Comments</span><br />
          <p>
            " The Best American Restaux I have been to!! And they SERVE Favalous
            dishes"
          </p>
          <p>
            " Amazing Food! good service! couldn't ask for more! je reviendra
            encore et encore!"
          </p>
        </div>
        <div class="map">
          <h2>Location</h2>
          <br />
          <img src="../public/png/ma.png" alt="" />
        </div>
        <div class="list4">
          <span><img src="../public/png/st.png" alt="" /> Stay In touch </span>
          <br /><br />
          <form action="" method="">
            <div>
              <input
                type="text"
                placeholder="Your email address"
                name="subemail"
              />
              <button type="submit" name="subscribe">
                Subscribe
              </button>
            </div>
            <p>
              Get the most recent updates from <br />
              our site to stay in touch...
            </p>
          </form>
        </div>
      </div>
      <div class="list3">
        <p class="pull-left">
          © Copyright
          <script>
            document.write(new Date().getFullYear());
          </script>
          Fast-Food-Fast Restaux. All rights reserved || Designed by
          <span>
            <a
              target="_blank"
              href="#"
              style="color: orange;text-decoration:none;"
            >
              Arnauld
            </a>
          </span>
        </p>
      </div>
    </footer>
  </body>
</html>
