<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="shortcut icon"
      href="../public/png/fast.png"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="../../public/css/admin.css" />
    <title>Admin</title>
  </head>
  <body>
    <header>
      <div class="nav">
        <img src="../../public/png/ch.png" width="50px" height="50px;" />
        <strong>Admin</strong>
        <br />
        <span>welcome to admin</span>
      </div>
      <div class="container">
        <a href="index.html" class="homebtn">Go Home</a>
        <button class="user">User</button>
      </div>
    </header>
    <div class="container-fluid">
      <div class="admin">
        <ul id="sidebar">
          <li id="manage"><a href="dashboard.html">Dashboard</a></li>
          <li><a href="manage_orders.html">Manage Orders</a></li>
          <li><a href="manage_reservs.html">Manage Reservations</a></li>
          <li><a href="manage_items.html">Manage Items</a></li>
          <li><a href="add_item.html">Add Item</a></li>
          <li><a href="admin_history.html">History Of Orders</a></li>
        </ul>
      </div>
      <div class="container">
        <div class="message">
          <h1>Welcome Admin User</h1>
          <div>
            Dashboard Panel<br />
            <p>Manage All Your Website's Features Here</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
