<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../public/css/admin.css" />
    <link rel="shortcut icon" href="../public/png/fast.png" type="image/x-icon">
    <title>Admin</title>
  </head>
  <body>
    <header>
      <div class="nav">
        <img src="../../public/png/ch.png" width="50px" height="50px;" />
        <strong>Admin</strong>
        <br />
        <span>welcome to admin</span>
      </div>
      <div class="container">
        <a href=" index.html" class="homebtn">Go Home</a>
        <button class="user">User</button>
      </div>
    </header>
    <div class="container-fluid">
      <div class="admin">
        <ul id="sidebar">
          <li><a href="dashboard.html">Dashboard</a></li>
          <li id="manage"><a href="manage_orders.html">Manage Orders</a></li>
          <li><a href="manage_reservs.html">Manage Reservations</a></li>
          <li><a href="manage_items.html">Manage Items</a></li>
          <li><a href="add_item.html">Add Item</a></li>
          <li><a href="admin_history.html">History Of Orders</a></li>
        </ul>
      </div>
      <div class="container">
        <table>
          <h3>
            Recent orders seen at the top of the table
            <small>6 recent orders</small>
          </h3>
          <a href="" id="btn1">Accept All</a>
          <a href="" id="btn2">Decline All</a>
          <thead>
            <tr>
              <th>N<sup>o</sup></th>
              <th>Client</th>
              <th>Order</th>
              <th>Total price ($)</th>
              <th colspan="3">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="radio" /></td>
              <td>order1@example.com</td>
              <td>Eggs,Fried Chicken,Noodles,Champaign</td>
              <td>520</td>
              <td><a href="" class="btn1">Accept</a></td>
              <td><a href="" class="btn2">Decline</a></td>
            </tr>

            <tr>
              <td><input type="radio" /></td>
              <td>order2@example.com</td>
              <td>beans</td>
              <td>21</td>
              <td><a href="" class="btn1">Accept</a></td>
              <td><a href="" class="btn2">Decline</a></td>
            </tr>

            <tr>
              <td><input type="radio" /></td>
              <td>order3@example.com</td>
              <td>yams</td>
              <td>10</td>
              <td><a href="" class="btn1">Accept</a></td>
              <td><a href="" class="btn2">Decline</a></td>
            </tr>
            <tr>
              <td><input type="radio" /></td>
              <td>order4@example.com</td>
              <td>Fried Chicken,Noodles,Red wine</td>
              <td>110</td>
              <td><a href="" class="btn1">Accept</a></td>
              <td><a href="" class="btn2">Decline</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
