<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../public/css/admin.css" />   
     <link rel="shortcut icon" href="../public/png/fast.png" type="image/x-icon">
    <title>Admin</title>
</head>

<body>
    <header>
        <div class="nav">
            <img src="../../public/png/ch.png" width="50px" height="50px;" />
            <strong>Admin</strong>
            <br />
            <span>welcome to admin</span>
        </div>
        <div class="container">
            <a href="index.html" class="homebtn">Go Home</a>
            <button class="user">User</button>
        </div>
    </header>
    <div class="container-fluid">
        <div class="admin">
            <ul id="sidebar">
                <li ><a href="dashboard.html">Dashboard</a></li>
                <li><a href="manage_orders.html">Manage Orders</a></li>
                <li><a href="manage_reservs.html">Manage Reservations</a></li>  
                <li id="manage"><a href="manage_items.html">Manage Items</a></li> 
                <li><a href="add_item.html">Add Item</a></li>
                <li><a href="admin_history.html">History Of Orders</a></li>
            </ul>
        </div>
        <div class="container">
            <h1 style="width: 100%; padding: 3px 10px;box-sizing: border-box;">
                Manage All Items <span style="float: right; font-size: 17px;"><small>To delete an item, <b>Double-click on <i style="color: red">Delete</i></b></small></span>
            </h1>
            <!-- Update item form -->
        <form method="post" id="edit_form" style="display: none;margin: 10px auto;box-sizing: border-box; width: 80%" action="manage_item" enctype="multipart/form-data">
                <p style="width: 100%; color: yellow;text-align: center;">Update Selected Item : 
                    <span id="span" style="float: right;font-size: 25px;border-radius: 50%; background: rgba(0,0,0,.4);height: 25px; width: 25px;padding: 10px; cursor: pointer">&times;</span></p>
        <div class="form" style="background: rgb(124, 113, 115)">
        <div class="form-group">
          <label for="name">Item Name</label><br /><input
            type="text"
            name="name"
            id=""
            placeholder="Update Name of Item"
          />
        </div>

        <div class="form-group">
            <div class="edit_img" style="width: 200px; height: 200px; border-radius: 50%;background: brown; margin: 0px auto">
                <img src="../../public/png/food.png" style="border-radius: 50%" width="200px;" height= "200px" id="img"></div>
          <label for="img">Image</label><br /><input
            type="file"
            name="image"
            id=""
          />
        </div>
        <div class="form-group">
          <label for="price">Price</label><br /><input
            type="text"
            name="price"
            placeholder="update Price of item"
            id=""
          />
        </div>
        <div class="form-group">
          <label for="price">Description</label><br />
          <textarea style="padding: 20px 20px;box-sizing: border-box;"
            name="description"
            placeholder="Update Discription of Item "
          >
          </textarea>
          <div class="button">
            <input type="submit" id="updatebtn" name="submit" value="Update Now" />
          </div>
        </div>
      </div>
    </form>
            <table>
        <!-- All Items Table -->
                <a href="add_item" id="btn1">Add Item</a>
                <thead>
                    <tr>
                        <th>N<sup>o</sup></th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Price($)</th>
                        <th colspan="3">Action</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <tr id="tr"  style="font-weight: bold">
                        <td><input type="radio" /></td>
                        <td id="td1">Beaf Meat</td>
                        <td>
                            <img src="../../public/png/beaf.png"  id="td2" alt="" style="width: 90px; height: 90px;">
                        </td>
                        <td id="td3"><b>Hello, I would would like to book a table for Next Sunday at</b></td>
                        <td id="td4">200</td>
                        <td><button id="edit" onclick="change(src)" class="btn1">Edit</button></td>
                        <td><button ondblclick="row()" class="btn2">Remove</button></td>
                    </tr>

                    <tr id="tr"  style="font-weight: bold">
                        <td><input type="radio" /></td>
                        <td id="td1">Chicken</td>
                        <td ><img src="../../public/png/foul.png"  id="td2" alt="" style="width: 90px; height: 90px;"></td>
                        <td>
                            Hello, I would would like to book a table for Next Sunday at
                            <b>8:00 pm.</b>
                        </td>
                        <td id="td3">+400</td>
                        <td id="td4"><button id="edit" class="btn1">Edit</button></td>
                        <td><button ondblclick="row()" class="btn2">Remove</button></td>
                    </tr>

                    <tr id="tr"  style="font-weight: bold">
                        <td><input type="radio" /></td>
                        <td id="td1">Wine(Tour du Paris 1998)</td>
                        <td ><img id="td2" src="../../public/png/champ.png" alt="" style="width: 90px; height: 90px;"></td>
                        <td id="td3">
                            Hello, I would would like to book a table for the 24<sup>th</sup>
                            of this Month at<b> 10:00 pm.</b>
                        </td>
                        <td id="td4">500</td>
                        <td><button id="edit" class="btn1">Edit</button></td>
                        <td><button  ondblclick="row()" class="btn2">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        var editForm = document.querySelector("#edit_form");
        var updatebtn = document.querySelector("#updatebtn");
        var deletebtn = document.querySelectorAll(".btn2");
        var editbtn = document.querySelectorAll(".btn1");
        var closebtn = document.querySelector("#span");
        var tr = document.querySelectorAll("tbody tr");
        var td3 = document.querySelectorAll("#td3").innerHTML 
        var td4 = document.querySelectorAll("#td4").innerHTML 
        var input = document.querySelectorAll("input")
        
    closebtn.addEventListener("click", function(){
        editForm.style.display ="none"
    })
    for (var i = 0; i < editbtn.length; i++) {
         editbtn[i].addEventListener("click", function() {
            editForm.style.display = "block"
            editForm.style.transition = "all 0.5s ease-in" 
        })
    for (var t = 0; t < tr.length; t++) {
     tr[t].addEventListener("mouseover", function(){
        this.style.color = "red"
        this.style.transition = "all 0.5s ease-out"
     })
      tr[t].addEventListener("mouseout", function(){
        this.style.color = "white"
        this.style.transition = "all 0.5s ease-out"
     })
    }
   } 
   function row() {
        document.getElementById("tbody").deleteRow(0)
    }
    </script>
</body>
</html>